<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
<form [formGroup]="singupForm" (ngSubmit)="onSubmit()">

  <div formGroupName="userData">

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
      <div *ngIf="!singupForm.get('userData').get('email').valid">Invalid Email</div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>

    <div class="form-group">
      <label for="passwordConfirmation">Confirmation Password</label>
      <input type="password" class="form-control" id="passwordConfirmation" formControlName="passwordConfirmation">
    </div>

    <div>
      <input type="checkbox" class="form-control" id="acceptTerms" formControlName="acceptTerms">
      <label for="acceptTerms">Accept Terms</label>
    </div>

    <button type="submmit" class="btn btn-primary" [disabled]="!singupForm.valid">SingUp</button>

  </div>
</form>